@charset "UTF-8";
/* Importation des polices d'écriture de Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* font-family: 'Roboto', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
/* font-family: 'Shrikhand', cursive; */
/* box-sizing est appliqué à tous les éléments */
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

img {
  width: 100%;
  height: auto;
}

.heading {
  display: flex;
  justify-content: center;
}
.heading__logo {
  background-color: #fff;
  padding: 25px 115px 15px 115px;
  box-shadow: #d9d9d9 0px 5px 5px;
}

.location-container {
  display: flex;
  justify-content: space-evenly;
  padding: 25px 125px 25px 100px;
  align-items: baseline;
  background-color: #e6e6e6;
}
.location-container__city {
  font-size: 1.1rem;
  font-weight: bold;
  color: #404040;
}

.reservation {
  text-align: center;
  padding: 40px 30px;
  background-color: #f2f2f2;
}
.reservation__title {
  font-size: 1.8rem;
  font-weight: 900;
  padding: 10px 20px;
}
.reservation__text {
  font-size: 1.3rem;
  font-weight: 300;
  padding: 10px 0px;
}
.reservation__btn {
  width: 70%;
  margin: 25px;
  padding: 20px 15px;
  border: none;
  border-radius: 30px;
  font-size: 1.1rem;
  color: #fff;
  background: linear-gradient(355deg, #9356DC, #FF79DA);
  box-shadow: #d9d9d9 0px 7px 10px;
}

h2 {
  font-size: 1.8rem;
  font-weight: 900;
  padding: 10px 20px;
}

aside {
  height: 370px;
  margin: 50px 0px;
}

.btn {
  display: flex;
  width: 88%;
  margin: 20px 0px 20px 32px;
  font-size: 1rem;
  padding: 30px 85px;
  border: none;
  border-radius: 20px;
  align-items: center;
  background-color: #f2f2f2;
  box-shadow: #d9d9d9 0px 7px 10px;
}
.btn__number {
  font-size: 1rem;
  padding: 4px 9px;
  border-radius: 20px;
  background-color: #9356DC;
  color: #fff;
  position: absolute;
  left: 70px;
  margin: -50px;
}
.btn__icon {
  position: absolute;
  font-size: 1.3rem;
  left: 70px;
}
.btn__text {
  font-weight: bold;
}

.btn:hover {
  background-color: #f2eafb;
  box-shadow: #d9d9d9 0px 12px 15px;
  color: #9356DC;
}

section {
  display: flex;
  flex-direction: column;
  height: 1400px;
  padding: 50px 0px;
  background-color: #f2f2f2;
}

.new {
  position: absolute;
  right: 20px;
  margin: 15px;
  padding: 10px 15px;
  border-radius: 3px;
  background-color: #85dcc7;
  color: #278870;
  font-weight: bold;
}

.card {
  width: 90%;
  height: 275px;
  margin: auto;
  border-radius: 15px;
  box-shadow: #d9d9d9 0px 7px 10px;
  text-decoration: none;
  color: black;
}
.card__image {
  border-radius: 15px 15px 0 0;
  height: 70%;
  object-fit: cover;
}
.card__content {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 1.2rem;
}
.card__title {
  font-weight: 900;
  font-size: 1.3rem;
  margin: 5px;
}
.card__location {
  margin: 5px;
}
.card__like-btn {
  border: none;
  font-size: 1.6rem;
  font-stretch: normal;
}

.footer {
  height: 250px;
  padding: 20px;
  background-color: #333333;
  color: #fff;
}
.footer__resto, .footer__partner {
  display: flex;
}
.footer__resto, .footer__partner, .footer__mention, .footer__contact {
  margin: 15px 0px;
}
.footer__icon {
  width: 8%;
}

.logo {
  font-family: "Shrikhand", cursive;
  font-size: 1.2rem;
  padding: 10px 0px;
}
.logo--white {
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
