/* Importation des polices d'écriture de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
/* font-family: 'Shrikhand', cursive; */

/* box-sizing est appliqué à tous les éléments */
* { box-sizing: border-box; }


//==================== Début des VARIABLES ====================//
//========= Selection de la charte de couleur du site =========//
$colour-primary : #9356DC;
$colour-secondary : #FF79DA;
$colour-tertiary : #99E2D0;
$colour-white : #fff;
//===================== Fin des VARIABLES  ====================//


//===================== Début des MIXINS  =====================//
@mixin heading-title {
    font-size: 1.8rem;
    font-weight: 900;
    padding: 10px 20px; 
}

@mixin background($colour: $colour-white, $amount: 5%) {    
    background-color: darken($colour, $amount);    
}

@mixin shadow($colour: $colour-white, $size:0px 7px 10px) {
    box-shadow: darken($colour, 15%) $size;
}
//====================== Fin des MIXINS ======================//


body {
    font-family: 'Roboto', sans-serif; 
}

img {
    width: 100%;
    height: auto; 
}

.heading {
    display: flex;
    justify-content: center;
    &__logo {
        background-color: $colour-white; 
        padding: 25px 115px 15px 115px;
        @include shadow($colour-white, 0px 5px 5px);
        } 
}

.location-container {
    display: flex;
    justify-content: space-evenly;
    padding: 25px 125px 25px 100px;
    align-items: baseline;
    @include background($colour-white, 10%);
    &__city {      
        font-size: 1.1rem;
        font-weight: bold;
        color: darken($color: $colour-white, $amount: 75%);
    } 
}

.reservation {
    text-align: center;
    padding: 40px 30px;
    @include background;
    &__title {
        @include heading-title();
    }
    &__text {
        font-size: 1.3rem;
        font-weight: 300;
        padding: 10px 0px;
    }
    &__btn {
        width: 70%;
        margin: 25px;
        padding: 20px 15px;
        border: none;
        border-radius: 30px;
        font-size: 1.1rem;
        color: $colour-white;
        background: linear-gradient(355deg, $colour-primary, $colour-secondary);
        @include shadow();   
    } 
}

h2 {
    @include heading-title();
}

aside {
    height: 370px;
    margin: 50px 0px;
}

.btn {
    display: flex;
    width: 88%;
    margin: 20px 0px 20px 32px;
    font-size: 1rem;
    padding: 30px 85px;
    border: none;
    border-radius: 20px;
    align-items: center;
    @include background();
    @include shadow();   
    &__number {
        font-size: 1rem;
        padding: 4px 9px;
        border-radius: 20px;
        background-color: $colour-primary;
        color: $colour-white;
        position: absolute;
        left: 70px;
        margin: -50px;
    }
    &__icon {
        position: absolute;
        font-size: 1.3rem;
        left: 70px;
    }
    &__text {
        font-weight: bold;
    }
}

section {
    display: flex;
    flex-direction: column;
    height: 1400px;
    padding: 50px 0px;
    @include background();
}

.new {
    position: absolute;
    right: 20px;    
    margin: 15px;
    padding: 10px 15px;
    border-radius: 3px;
    @include background($colour-tertiary);
    color: darken($color: $colour-tertiary, $amount: 40%);
    font-weight: bold;
}

.card {
    width: 90%;
    height: 275px;
    margin: auto;
    border-radius: 15px;
    @include shadow(); 
    text-decoration: none;
    color: darken($color: $colour-white, $amount: 100%);    
    &__image {
        border-radius: 15px 15px 0 0;
        height: 70%;
        object-fit: cover;
    }
    &__content {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        font-size: 1.2rem; 
        
    }
    &__title {
        font-weight: 900;
        font-size: 1.3rem;
        margin: 5px;
    }
    &__location {
        margin: 5px;
    }
    &__like-btn {
        border: none;
        font-size: 1.6rem;
        font-stretch: normal;
    }
}

.footer {
    height: 250px;
    padding: 20px;
    background-color: darken($color: $colour-white, $amount: 80%);
    color: $colour-white;
    &__resto, &__partner {
        display: flex;
    }
    &__resto, &__partner, &__mention, &__contact {
        margin: 15px 0px;
    }
}

.logo {
    font-family: 'Shrikhand', cursive;
    font-size: 1.2rem;
    padding: 10px 0px;
    &--white {
        color: $colour-white;
    }
}







