/* Importation des polices d'écriture de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
/* font-family: 'Shrikhand', cursive; */

/* box-sizing est appliqué à tous les éléments */
* { box-sizing: border-box; }

 // Selection de la charte de couleur du site //
$colour-primary : #9356DC;
$colour-secondary : #FF79DA;
$colour-accent : #99E2D0;
$colour-white : #fff;


// Début des Mixins //
@mixin heading-title {
    font-size: 1.7rem;
    font-weight: bold;
    padding: 10px 20px; 
}


// Fin des Mixins //

body {
    font-family: 'Roboto', sans-serif; 
}

img {
    width: 100%;
    height: auto; 
}

.heading {
    display: flex;
    padding: 15px;
    justify-content: center;
    &__logo {
        width: 45%; 
    } 
}

.location-container {
    display: flex;
    justify-content: space-evenly;
    padding: 15px 125px 15px 100px;
    align-items: baseline;
    background-color: #e6e6e6;
    &__city {      
        font-weight: bold;
    } 
}

.reservation {
    text-align: center;
    padding: 40px 30px;
    background-color: #f2f2f2;
    &__title {
        @include heading-title();
    }
    &__text {
        font-size: 1.3rem;
        font-weight: 300;
        padding: 10px 0px;
    }
    &__btn {
        width: 70%;
        margin: 15px;
        padding: 15px;
        border: none;
        border-radius: 30px;
        font-size: 1.1rem;
        color: $colour-white;
        background: linear-gradient(360deg, $colour-primary, $colour-secondary);
        box-shadow: darkgrey 0px 5px 10px;    
    } 
}

h2 {
    @include heading-title();
}

aside {
    height: 370px;
    margin: 50px 0px;
}

.btn {
    display: flex;
    width: 88%;
    margin: 20px 0px 20px 32px;
    font-size: 1rem;
    padding: 30px 85px;
    border: none;
    border-radius: 20px;
    align-items: center;
    box-shadow: darkgrey 0px 5px 10px;   
    &__number {
        font-size: 1rem;
        padding: 4px 9px;
        border-radius: 20px;
        background-color: $colour-primary;
        color: $colour-white;
        position: absolute;
        left: 70px;
        margin: -50px;
    }
    &__icon {
        position: absolute;
        font-size: 1.3rem;
        left: 70px;
    }
    &__text {
        font-weight: bold;
    }
}

section {
    display: flex;
    flex-direction: column;
    height: 1400px;
    padding: 50px 0px;
    background-color: #f2f2f2;
}

.card {
    width: 90%;
    height: 265px;
    margin: auto;
    border-radius: 15px;
    box-shadow: darkgrey 0px 3px 5px;
    text-decoration: none;
    color: black;    
    &__image {
        border-radius: 15px 15px 0 0;
        height: 70%;
        object-fit: cover;
    }
    &__content {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        &__text {
            font-size: 1.2rem; 
        }
    }
    &__title {
        font-weight: bold;
        margin: 5px;
    }
    &__location {
        margin: 5px;
    }
    &__like-btn {
        border: none;
        font-size: 1.6rem;
    }
}








