/* Importation des polices d'écriture de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
/* font-family: 'Shrikhand', cursive; */

/* box-sizing est appliqué à tous les éléments */
* { 
    box-sizing: border-box; }

 // Selection de la charte de couleur du site //
$colour-primary : #9356DC;
$colour-secondary : #FF79DA;
$colour-accent : #99E2D0;
