/* Importation des polices d'écriture de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
/* font-family: 'Shrikhand', cursive; */

/* box-sizing est appliqué à tous les éléments */
* { box-sizing: border-box; }





//==================== Début des VARIABLES ====================//
$colour-primary : #9356DC;
$colour-secondary : #FF79DA;
$colour-tertiary : #99E2D0;
$colour-white : #fff;
$background-rose : linear-gradient(355deg, $colour-primary, $colour-secondary);
$anim-dur: 800ms;
$anim-delay: $anim-dur / 4;
//===================== Fin des VARIABLES  ====================//





//===================== Début des MIXINS  =====================//
@function lightness-shift($colour){
    @if (lightness($colour)>50%) {
        @return lighten($colour,35%);   
    }@else{
        @return darken($colour,10%);
    }
}

@mixin heading-title {
    font-size: 1.8rem;
    font-weight: 900;
    padding: 10px 20px; 
}

@mixin background($colour:$colour-white, $amount: 5%) {    
    background-color: darken($colour, $amount); 
}

@mixin shadow($colour: $colour-white, $size:0px 7px 10px) {
    box-shadow: darken($colour, 15%) $size;
}
//====================== Fin des MIXINS ======================//





//===== Début Animation Loader =====//
.loader {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
    position: absolute;
    background-color: $colour-white;
    opacity: 95%;
    z-index: 1;
    animation-name: loader-fade;
    animation-duration: 3000ms;
    animation-delay: 0ms;
    animation-fill-mode: both;
        &__dot {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        margin: 7px;
        background: $background-rose;
        animation: dots $anim-dur backwards infinite ease-in-out alternate;
        @for $anim-dot from 1 through 4 {
            &--#{$anim-dot} {
                animation-delay: $anim-delay * $anim-dot;
            }
        }
    }
}

@keyframes loader-fade {
    99% {
        transform: scaleX(1);
        opacity: 95%;                
    }
    100% {
        transform: scaleX(0);
        opacity: 0;
    }
}

@keyframes dots {
    from {
        transform: scale(0.5);
    }
    to {
        transform: scale(1);
    }
}
//===== Fin Animation Loader =====//




//===========================================================//
//====================== Début Accueil ======================//
//===========================================================//
body {
    font-family: 'Roboto', sans-serif;
    img {
        width: 100%;
    }
    a {    
        text-decoration: none;
    }
}

.heading {
    &__top {
        display: flex;
        justify-content: center;
        align-items: center;        
    }
    &__btn-return {
        position: absolute;        
        left: 15px;
        font-size: 1.5rem;
        color: black;
    }
    &__logo {        
        padding: 15px 50px;
    }
    &__background-img {
        height: 300px;
        object-fit: cover;
    }
}

form {
    @include background($colour-white, 10%);
    box-shadow: darken($colour-white, 25%) 0px 7px 10px inset;       
    display: flex;
    justify-content: center;
    padding: 10px;
    align-items: baseline;       
    .fa-location-dot {
        padding: 15px
    }
    #search {
        @include background($colour-white, 10%);
        border: none;
        font-size: 1.1rem;
        width: 150px;
    }
}

.reservation {
    text-align: center;
    padding: 40px 30px;
    @include background();
    &__title {
        @include heading-title();
    }
    &__text {
        font-size: 1.3rem;
        font-weight: 300;
        padding: 10px 0px;
    }
    &__btn {
        width: 70%;
        margin: 25px;
        padding: 20px 15px;
        border: none;
        border-radius: 30px;
        font-size: 1.1rem;
        color: $colour-white;        
        background: $background-rose;
        @include shadow(); 
        &:hover {
            cursor: pointer;
            opacity: 0.85;
            box-shadow: $colour-tertiary 0px 3px 7px;
        }  
    } 
}

.section-title {
    @include heading-title();
}

aside {
    height: 370px;
    margin: 50px 0px;
}

.btn {
    display: flex;
    width: 88%;
    margin: 20px 0px 20px 32px;
    font-size: 1rem;
    padding: 30px 15px 30px 85px;
    border: none;
    border-radius: 20px;
    align-items: center;
    position: relative;
    @include background();
    @include shadow();   
    &__number {
        font-size: 1rem;
        padding: 4px 9px;
        border-radius: 20px;
        background-color: $colour-primary;
        color: $colour-white;
        position: absolute;
        left: -10px;
    }
    &__icon {
        position: absolute;
        font-size: 1.3rem;
        left: 40px;
        
    }
    &__text {
        font-weight: bold;
    }
    &:hover {
        cursor: pointer;
    }
    &:active {
        @include background(lightness-shift($colour-primary), 0%);
        @include shadow($colour-white, 0px 12px 15px);
        color: $colour-primary; 
    }
    
}

section {
    z-index: 0; 
    display: flex;
    flex-direction: column;
    height: 1400px;
    padding: 50px 0px;
    @include background();
}

.container-card {
    height: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.new {
    position: absolute;
    right: 10px;    
    margin: 15px;
    padding: 10px 15px;
    border-radius: 3px;
    @include background($colour-tertiary);
    color: darken($color: $colour-tertiary, $amount: 40%);
    font-weight: bold;
}

.card { 
    position: relative;
    z-index: 0; 
    width: 90%;
    height: 275px;
    margin: auto;
    border-radius: 15px;
    background-color: $colour-white;
    @include shadow();    
    &__image {
        border-radius: 15px 15px 0 0;
        height: 70%;
        object-fit: cover;
    }
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        font-size: 1.2rem;
        &__text {
            color: darken($color: $colour-white, $amount: 100%);           
        }         
    }
    &__title {
        font-weight: bold;
        margin: 5px;
    }
    &__description {
        margin: 5px;
    }
}

//===== Début Animation Like-btn =====//
.fa-heart {
    font-size: 1.6rem;  
    font-weight: bolder;
    transform: scale(1);
    transition: transform 0.5s;
    &:hover {
        font-weight: bold;
        background: $background-rose;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color:transparent;
        transform: scale(1.2);
        transition: transform 0.5s;
    }
}
//===== Début Animation Like-btn =====//

.footer {
    height: 250px;
    padding: 20px;
    background-color: darken($color: $colour-white, $amount: 80%);
    color: $colour-white;
    &__resto, &__partner {
        display: flex;
    }
    &__resto, &__partner, &__mention, &__contact {
        margin: 15px 0px;
    }
    &__icon {
        width: 8%;
    }
}

.logo {
    font-family: 'Shrikhand', cursive;
    font-size: 2rem;
    padding: 10px 0px;
    &--white {
        font-size: 1.2rem;
        color: $colour-white;
    }
}

footer a {
    color: $colour-white;
}
//===========================================================//
//======================= Fin Accueil =======================//
//===========================================================//





//============================================================//
//===================== Début des MENUS  =====================//
//============================================================//
main {
    position: relative;
    height: auto;
    bottom: 40px;

    .container {
        @include background();
        border-radius: 45px 45px 0px 0px;
    }

    .container-title {
        display: flex;
        justify-content: space-between;
        font-family: 'Shrikhand', cursive;
        font-size: 1.9rem;
        padding: 40px 20px 0px;
    }

    .menu__title {
        font-size: 1.1rem;
        margin: 50px 20px 0px;
        padding-bottom: 10px;
        border-bottom: 4px solid $colour-tertiary;
        width: 40px;
    }

    .card {
        display: flex;
        height: 70px;
        margin: 15px;
        background-color: $colour-white;
        animation: fadein 1900ms forwards ease-in-out;        
        opacity: 0;
        overflow: hidden;
        &.fadein--1{
            animation-delay: 100ms;
        }
        &.fadein--2{
            animation-delay: 300ms;
        }
        &.fadein--3 {
            animation-delay: 500ms;
        }
        &.fadein--4 {
            animation-delay: 700ms;
        }
        &.fadein--5 {
            animation-delay: 900ms;
        }
        &.fadein--6 {
            animation-delay: 1100ms;
        }
        &.fadein--7 {
            animation-delay: 1300ms;
        }
        &.fadein--8 {
            animation-delay: 1500ms;
        }
        &.fadein--9 {
            animation-delay: 1700ms;
        }
        &.fadein--10 {
            animation-delay: 1900ms;
        }
        &:hover {
            cursor: pointer;
        }
        &:active {
            .card__add {
                width: 40%;
            }
            .fa-circle-check {
                transform: rotate(360deg);
            }
        }
        &__add {
            width: 25px;
            display: flex;
            align-items: center;
            transition: linear 500ms;
            &__price {
                font-size: 1rem;
                font-weight: bold;
                margin-right: 12px;
            }
            &__check {                
                background-color: $colour-tertiary;
                padding: 25px 200px 25px 25px;
                & .fa-circle-check {
                    font-size: 1.8rem;
                    color: $colour-white;
                    transition: transform 500ms ease-out;
                }
            }            
        }
        &__content {
            width: 100%;            
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            &__text {
                overflow: hidden;
            }
        } 
        &__title {
            font-size: 1rem;
            font-weight: bold;
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 5px;
        }
        &__description {
            font-size: 0.9rem;
            text-overflow: ellipsis; 
            overflow: hidden;           
        }
    }
    
    .container-btn {
        display: flex;
        justify-content: center;
    }
    .reservation__btn {
        width: 50%;
    }
}

@keyframes fadein {
    0% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0px);
        opacity:1;
    }
}
//==========================================================//
//===================== Fin des MENUS  =====================//
//==========================================================//





//=====================================================================//
//==================== Début Media Queries Desktop ====================//
//=====================================================================//
@media screen and (min-width: 769px) { 
    //===== Media Queries Accueil =====//
    
    .heading {
        &__logo {
        display: flex;
        width: 600px;     
        box-shadow: none
        }
        &__background-img {
        height: 500px;
        }
    }

    .accueil {
        .reservation__btn {
            width: 30%;
        }

        aside {
            height: auto;
            width: 80%;
            margin: 30px auto;
            .container-btn {
                display: flex;
                justify-content: space-between;
                .btn {        
                    flex-direction: column;
                    width: 30%;
                    margin: 30px 0px;
                    height: 150px;
                    padding: unset;
                    justify-content: space-evenly;
                    &__number {
                        position: unset;
                    }
                    &__icon {
                        position: unset;
                    }
                }
            }
        }        

        section {
            height: 1200px;
            width: 80%;
            margin: auto;
            border-radius: 30px 30px 0 0;
            .container-card {
                height: 1000px;
                display: flex;
                flex-wrap: wrap;
                .card {
                    height: 450px;
                    width: 45%;
                    &__content {
                        height: 30%;            
                        flex-direction: column;
                        align-items: center;
                        &__text {
                            text-align: center;
                        }
                    }
                }
            }
        }
    }

    //===== Media Queries Menus =====//
    main {
        width: 60%;
        margin: auto;
        height: auto;

        .container {
            border-radius: 45px;
        }        

        .card {            
            /*&:hover {
                cursor: pointer;
                .card__add {
                    width: 50%;
                }
                .fa-circle-check {
                    transform: rotate(360deg);
                }
            }*/
        }
    }
    //===== Fin Media Queries Menus =====//

    .footer {
        height: 100px;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-end;      
        &__resto, &__partner {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}
//===================================================================//
//==================== Fin Media Queries Desktop ====================//
//===================================================================//